#wrapper{
    /*background:red;>*/
    overflow:auto;
}

#c1{
   float:left;
   /*background:blue;*/
   margin-left: 100px;
}

#c2{
    float:right;
    margin-right: 100px;
    width: 500px;
    margin-right: 100px;
    /*word-spacing: 100px;*/
}​

#c2 .Ticket{
    text-align: left;
    font-size: 16px
}
#c2 .Time{
    text-align: center;
    line-height: 25px;
    font-size: 16px
}
#c2 .Radiobuttons{
    text-align: center;
}
#c2 .Next{
    text-align: center;
    background-color: #070c07fd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
}

.Index{
    background-color: #6277d6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#c2 .Increment{
    background-color: #070c07;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#c2 .Decrement{
    background-color: #050805;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
/*body{
   transform: scale(1.1,1.1);*/


