<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Adminstration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/ida715e20/admin/home.html">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ida715e20/admin/calendar.html">Calendar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ida715e20/admin/booking.html">Set tour</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ida715e20/admin/statistics.html">Statistics</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Sign out</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome Firstname Lastname | Adminstration | Nordjyllands Historiske Museum 
      </span>
    </div>
  </nav>
  <br>