<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home.html">Guide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="calendar.html">Calendar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="report.html">Report</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Sign out</a>
      </li>
    </ul>
    <span class="navbar-text">
      Welcome Firstname Lastname | Guide | Nordjyllands Historiske Museum 
    </span>
  </div>
</nav>
<br>
